@tailwind base;
@tailwind components;
@tailwind utilities;

/* Layout helpers */
:root {
  --container: 1100px;
}

.container {
  max-width: var(--container);
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding: 5rem 0;
}

@media (min-width: 768px) {
  .section {
    padding: 7rem 0;
  }
}
